{% extends "base.twig" %}

{% block title %}
    Tous les articles - {{ parent() }}
    {#  Ici le {{ parrent() }} permet de récupérer le contenu du block déjà existant dans le fichier base.twig  #}
{% endblock %}

{% block header %}
    <header class="header mb-3">
        <div id="header-img" class="text-center">
            <a href="{{ route(router, 'main-home') }}"><img class="img-fluid" src="/assets/imgs/Logo_book.png" alt="Responsive image"
                                      width="150"></a>
        </div>
        <nav class="navbar navbar-expand-sm bg-primary p-3 justify-content-center">
            {% include 'partials/navbar-admin.twig' %}
        </nav>
    </header>
{% endblock %}

{% block content %}
    <main>
        <div class="container">
            <form action="" method="post">
                <div class="row">

                    {% if success is not empty %}
                        {% for succ in success %}
                            <div class="col-12">
                                <div class="alert alert-dismissible alert-success">
                                    {{ succ|raw }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="col-md-6 col-12">
                        <div class="form-group mb-3">
                            <label for="title">Titre du livre</label>
                            <input type="text" name="title" id="title" class="form-control" value="{{ book.title }}">
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <div class="form-group mb-3">
                            <label for="author">Auteur du livre</label>
                            <input type="text" name="author" id="author" class="form-control" value="{{ book.author }}">
                        </div>
                    </div>


                    <div class="col-md-5 col-12">
                        <div class="form-group mb-3">
                            <label for="image">Image du livre</label>
                            <input type="text" name="image" id="image" class="form-control" value="{{ book.image }}">
                        </div>
                    </div>

                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-primary w-100">Modifier le livre</button>
                    </div>

                </div>
            </form>
        </div>
    </main>
{% endblock %}
