<div class="col-lg-4 col-md-6 col-12 my-3">
    <div class="card h-100 hovertop">
        <img src="{{ post.image }}" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="text-muted">{{ post.author }}</p>
            <h3 class="card-title">{{ post.title }}</h3>
            <p class="card-text">{{ post.content|slice(0, 150) }}</p>
        </div>
        <div class="card-footer">
            <a href="{{ route(router, 'show-post', {slug: post.slug}) }}" class="btn btn-primary">Lire plus</a>
        </div>
    </div>
</div>