{% extends "base.twig" %}

{% block title %}
    Créer un compte - {{ parent() }}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-4 mx-auto">
                <form method="post">
                    <h1 class="h3 mb-3 fw-normal text-center">Inscription</h1>

                    {% if error is not empty %}
                        {% for err in error %}
                            <div class="alert alert-dismissible alert-danger">
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                {{ err|raw }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if success is not empty %}
                        {% for succ in success %}
                            <div class="alert alert-dismissible alert-success">
                                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                {{ succ|raw }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="form-group mb-3">
                        <label for="firstname">Prénom</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="John" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="lastname">Nom</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Doe" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="email">Adresse email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="john.doe@example.com" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="password">Mot de passe</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    </div>

                    <div class="text-center">
                        <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">S'inscrire</button>
                        <a href="{{ route(router, 'session-login') }}" class="btn btn-secondary btn-sm mb-3 w-100">J'ai déjà un compte</a>
                        <a href="{{ route(router, 'main-home') }}" class="btn btn-link mb-3">Retour à l'accueil</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
